[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
black = "*"
ipython = "*"

[packages]
couchdb = "*"
ipython = "*"
tqdm = "*"

[requires]
python_version = "3.5"
